body{
    padding: 0;
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: 'Open Sans'
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
/*header*/
header{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 0.5fr 0.5fr;
    text-align: center;
    padding: 0.67em 0;
}
/*Logo*/
#page-icon{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-left: 0.5em; */
}
.main-icon{
    width: 50px;
    height: 50px;
}
.main-icon img{
    width: 100%;
}
#page-icon h1{
    font-size: 1.5em;
    font-weight: 100;
    padding: 0;
    margin: 0;
}
#page-icon h1:hover{
    color: var(--orange);
}
/*Favourites-section*/
#favourites{
    display: flex;
    align-items: center;
    justify-content: center;
}
#favourites a{
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    color: var(--white);
}
#favourites a:hover{
    color: var(--orange);
}
/*searchbar*/
.header-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-search form input{
    background-color: #222325;
    border: none;
    outline: none;
    padding: 1px 10px;
    color: var(--white);
    width: 50%;
    height: 2em;
    transition: all 250ms ease-in-out;
}
.header-search form input:hover{
    width: 65%;
}
.header-search form a{
    color: white;
    height: 2em;
    background-color: #222325;
    outline: none;
    text-decoration: none;
}
.header-search form a:nth-of-type(1){
    margin-right: -5px;
    padding: 2px 2px 5px 6px;
    border-radius: 1.2rem 0 0 1.2rem;
}
.header-search form a:nth-of-type(2){
    margin-left: -5px;
    padding: 2px 6px 5px 2px;
    border-radius: 0 1.2rem 1.2rem 0;
}
/*notification*/
.notification{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    transition: all 250ms ease-in-out;
}
.notification span{
    font-size: 1.3em;
}
.notification span:hover{
    transform: scale(1.3);
}
/*user-profile*/
.user-profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in-out;
}
.user-profile span{
    font-size: 1.3em;
}
.user-profile span:hover{
    transform: scale(1.3);
}

/*main-body*/
#main-body{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.wrapper{
    background-color: #161616;
    overflow: hidden;
}
.child{
    min-height: 200px;
    width: 90%;
    margin: 50px;
    background-color: #222325;
    box-shadow: 0 31px 35px rgb(1,1,1);
}



aside{
    background: repeating-linear-gradient( to top left, black, transparent 189px);
}
/*media-control*/
.media-control{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #121212;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.song-section{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
}
.song-section:hover{
    transform: scale(1.1);
}
.playing-album-art{
    width: 50px;
    height: 40px;
}
.playing-album-art img{
    width: 100%;
    height: 100%;
}
.playing-singer-info{
    box-sizing: border-box;
    padding: 5px;
}
.playing-singer-info div:nth-of-type(1){
    font-size: 0.8em;
}
.playing-singer-info div:nth-of-type(2){
    font-size: 0.6em;
}
.playing-song-interactivities{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.playing-song-interactivities span{
    font-size: 1em;
    padding: 5px;
    transition: all 250ms;
}
.playing-song-interactivities span:hover{
    transform: scale(1.5);
}
.playing-song-interactivities span:hover i{
    font-weight: 900;
}

/*music-control-section*/
.control-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.button-section{
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-section>div{
    margin: 0 2%;
    font-size: 1em;
    transition: all 250ms ease-in-out;
}
.large-icon{
    font-size: 1.8em;
}
.button-section>div:hover{
    transform: scale(1.3);
}
.song-duration{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-bottom: 10px;
    transition: all 50ms ease-in-out;
}
.song-duration:hover{
    transform: scale(1.1);
}
.curr-time{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 0.9em;
}
.timeline{
    box-sizing: border-box;
    margin: 8px 0;
    background-color: var(--white);
}
.percentage-complete{
    width: 80%;
    background: linear-gradient(to right, lightgreen, darkgreen);
    height: 100%;
}
.total-time{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 0.9em;
}
/*volume-control-section*/
.volume-control-section{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;
    transition: all 500ms ease-in-out;
}
.volume-control-section>div:hover{
    transform: scale(1.2);
}
.volume-range{
    display: flex;
    align-items: center;
}
.volume-range span{
    font-size: 0.9em;
}
.vol-slider{
    height: 4px;
    width: 8em;
    background: #28a745;
}
